
  <!--DO NOT REMOVE-->
  {{ patternLabFoot | raw }}


  <!-- NPM PATTERN JAVASCRIPT FILES -->

  <!-- base html patterns: pattern-library -->
  <!-- inject:npm:base:js -->
  <!-- endinjectnpmbase -->

  <!-- GLOBAL ASSETS JAVASCRIPT FILES -->
  <!-- inject:globalassets:js -->
  <!-- endinjectglobalassets -->

  <!-- LOCAL PATTERN JAVASCRIPT FILES -->
  <!-- inject:local:js -->
  <!-- endinjectlocal -->

  </body>
</html>
